# Dependencies
node_modules/

# Production builds
dist/
build/

# Local environment variables
.env
.env.*
!.env.example

# Logs
*.log
npm-debug.log*

# Editor and operating system files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
Thumbs.db

